{% extends "base_generic.html" %}

{% block title %}{{ blog_author.user.get_full_name }}'s Followers{% endblock %}

{% block content %}
    <h1>{{ blog_author.user.get_full_name }}'s Followers</h1>
    {% if followers_list %}
        <ul class="list-group">
            {% for author in followers_list %}
                <li class="list-group-item">
                    <a href="{% url 'blog-author-detail' author.pk %}">
                        {{ author.user.get_full_name|default:author.user.username }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>This user has no followers yet.</p>
    {% endif %}
{% endblock %}